
{{#each beers}}
<li>

  {{this.name}}

</li>

<button type="button" class="btn btn-primary remove" value='{{this.id}}'>
  Delete</button>

  <form class="form rename" role="rename" id="{{this.name}}">
    <div class="form-group">
      <label>Rename:</label>
      <input type="text" id="{{this.id}}" class="form-control tmp" placeholder="Rename">
    </div>
    <button type="submit" class="btn btn-default">Rename</button>
  </form>

  {{/each}}
